footer.footer
	.container
		.footer-block
			img.footer-block__logo(src="assets/images/footer-logo.png", alt="")
			nav.footer-block-menu
				a.footer-block-menu__item(href="#") Портфолио
				a.footer-block-menu__item(href="#") О компании
				a.footer-block-menu__item(href="#") Матрешки на заказ
				a.footer-block-menu__item(href="#") Мастер-классы
				a.footer-block-menu__item(href="#") Вопросы
			.footer-block-contacts
				.footer-block-contacts-pair
					.footer-block-contacts-pair__label Позвоните нам
					a.footer-block-contacts-pair__info(href="tel:88129876543") +7 (812) 987-65-43
				.footer-block-contacts-pair
					.footer-block-contacts-pair__label Мы в социльных сетях
					.footer-block-contacts-pair-socials 
						a.footer-block-contacts-pair-socials-item(href="#")
							img(src="assets/images/fb.png", alt="")
						a.footer-block-contacts-pair-socials-item(href="#")
							img(src="assets/images/vk.png", alt="")
						a.footer-block-contacts-pair-socials-item(href="#")
							img(src="assets/images/twit.png", alt="")
				.footer-block-contacts-pair
					.footer-block-contacts-pair__label Свяжитесь с нами
					a.footer-block-contacts-pair__info(href="mailto:info@malina.ru") info@malina.ru
.footerInfo
	.container
		.footerInfo-block
			.footerInfo-block__text ©All rights reserved “Malina” 2018
			.footerInfo-block__text г. Санкт-Петербург ул. Гороховая д. 5
			.footerInfo-block__text Сделано в <a href="#">Ra-studio</a>