header.header
	.header-wrap
		nav.header-menu
			a.header-menu__item(href="#") Матрёшки
			a.header-menu__item(href="#") Наша мастерская
			a.header-menu__item(href="#") Клиенты
			a.header-menu__item(href="#") Гарантии
			a.header-menu__item(href="#") Отзывы
		a(href="index.html")
			img.heder__logo(src="assets/images/logo.png", alt="Логотип")
		.header-phone
			img.header-phone__img(src="assets/images/phone.svg", alt="Телефон")
			a.header-phone__text(href="tel:88129876543") 8 (812) 987-65-43
		.header-location
			img.header-location__img(src="assets/images/marker.svg", alt="Место")
			.header-location__text г. Санкт-Петербург ул. Гороховая д. 5
		.header-cart
			img.header-cart__img(src="assets/images/cart.svg", alt="Корзина")
			a.header-cart__text(href="#") Корзина