header.header
	.header-wrap
		nav.header-menu
			.div
				a.header-menu__logo-wrap(href="index.html")
					.header-menu__logo
			.header-menu-phone
				a(href="tel:88129876543")
					.header-menu-phone__img
					span.header-menu-phone__text 8 (812) 987-65-43
			.header-menu-location
				.header-menu-location__img
				span.header-menu-location__text г. Санкт-Петербург ул. Гороховая д. 5
			.header-menu-cart
				a(href="#")
					.header-menu-cart__img
					span.header-menu-cart__text Корзина
			a.header-menu__item(href="#") Матрёшки
			a.header-menu__item(href="#") Наша мастерская
			a.header-menu__item(href="#") Клиенты
			a.header-menu__item(href="#") Гарантии
			a.header-menu__item(href="#") Отзывы
		button.hamburger.hamburger--collapse(type="button")
			span.hamburger-box
				span.hamburger-inner
		a.header__logo-wrap(href="index.html")
			.header__logo
		.header-phone
			a(href="tel:88129876543")
				.header-phone__img
				span.header-phone__text 8 (812) 987-65-43
		.header-location
			.header-location__img
			span.header-location__text г. Санкт-Петербург ул. Гороховая д. 5
		.header-cart
			a(href="#")
				.header-cart__img
				span.header-cart__text Корзина
	.breadcrumbs-wrap
		a.breadcrumbs-link(href="#") Главная
		.breadcrumbs-arr
		.breadcrumbs-link(href="#") Портфолио