extends ../template

block variables
	- var title = 'О мастреской'

block content
	.company
		.company-wrap
			.company-top
				.company-top-left
					img(src="assets/images/about.jpg", alt="")
				.company-top-right
					.company-top-right__title О мастерской
					.company-top-right__text Национальные сувениры ручной работы в традиционном петербургском стиле. Мастерская расположена в центральной части Петербурга. Основным направлением деятельности является роспись русской матрешки. Уникальность изделий представлена набором характерных элементов ручного исполнения.
					.company-top-right-adv
						.company-top-right-adv-item
							.company-top-right-adv-item__circle 30
							.company-top-right-adv-item__text Художников
						.company-top-right-adv-item
							.company-top-right-adv-item__circle 2
							.company-top-right-adv-item__text Токаря
						.company-top-right-adv-item
							.company-top-right-adv-item__circle 8
							.company-top-right-adv-item__text Лет работы
						.company-top-right-adv-item
							.company-top-right-adv-item__circle 2
							.company-top-right-adv-item__text Лакировщика
		.company-bot
			.company-bot-block
				.company-bot__title Производство
				.company-bot__text На каждом этапе создания изделия используются только высококачественные и натуральные материалы. Основой каждой работы является заготовка ручной работы из массива липы. Затем в несколько этапов производится роспись миниатюры, лица и платка матрешки. Традиционные виды Санкт-Петербурга и сказки русских писателей оформляются с использованием техник горячего и холодного золочения. Конечным этапом является лакировка изделия. Единый стиль и высокое качество – залог успеха нашей компании!
	.connect-form
		form.connect-form-block(action="")
			.connect-form__title Связаться с нами
			.connect-form-row
				.connect-form-row-pair
					label.connect-form-row-pair__label(for="e-mail") E-mail:
					input.connect-form-row-pair__input(type="text" name="e-mail" id="e-mail" placeholder="test@info.ru" onfocus="this.placeholder = ''" onblur="this.placeholder = 'test@info.ru'")
				.connect-form-row-pair
					label.connect-form-row-pair__label(for="tel") Телефон:
					input.connect-form-row-pair__input(type="tel" name="tel" id="tel" placeholder="+7 (986) 543-21-00" onfocus="this.placeholder = ''" onblur="this.placeholder = '+7 (986) 543-21-00'")
			.connect-form-pair
				label.connect-form-pair__label(for="message") Сообщение:
				textarea.connect-form-pair__area(name="message" id="message" cols="100" rows="10" placeholder="Введите сообщение" maxlength="300")
			button.connect-form__btn(type="submit" data-default="Заказать звонок") Сделать заказ
