extends ../template

block variables
	- var title = 'Главная'

block content
	.banner
		.containerWide
			.banner-block
				.banner-block-left
					.banner-block-left__title Уникальная художественная мастерская <span>Малина</span>
					a.banner-block-left__btn(href="#") Узнать больше
					.banner-block-left__text Роспись <span>матрёшек</span>, создание <span>заготовок</span>, роспись <span>посуды</span> и многое другое
				.banner-block-right
					img.banner-block-right__img(src="assets/images/banner.png", alt="")
		.banner-bot
			img.banner-bot__doll(src="assets/images/banner-doll.svg", alt="")
			img.banner-bot__line(src="assets/images/banner-line.svg", alt="")
	
	.about
		.container
			.about-block
				.about-block__title Что такое художественная мастерская Малина?
				.about-block-dolls
					.about-block-dolls-item
						.about-block-dolls-item__num 30
						.about-block-dolls-item__text Художников
					.about-block-dolls-item
						.about-block-dolls-item__num 8
						.about-block-dolls-item__text Лет работы
					.about-block-dolls-item
						.about-block-dolls-item__num 2
						.about-block-dolls-item__text Лакировщика
					.about-block-dolls-item
						.about-block-dolls-item__num 2
						.about-block-dolls-item__text Токаря
				a.about-block__btn(href="#") История компании
		
	.work
		.work-wrap
			.work__title Широкий спектр выполняемых работ
			.work-main
				.work-main-item
					img.work-main-item__img(src="assets/images/work-item.png", alt="")
					.work-main-item__title Матрешка с логотипом
					.work-main-item__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium architecto officiis ipsam obcaecati quaerat eum!
					a.work-main-item__btn(href="#") Подробнее
				.work-main-item
					img.work-main-item__img(src="assets/images/work-item.png", alt="")
					.work-main-item__title Матрешка с логотипом
					.work-main-item__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium architecto officiis ipsam obcaecati quaerat eum!
					a.work-main-item__btn(href="#") Подробнее
				.work-main-item
					img.work-main-item__img(src="assets/images/work-item.png", alt="")
					.work-main-item__title Матрешка с логотипом
					.work-main-item__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium architecto officiis ipsam obcaecati quaerat eum!
					a.work-main-item__btn(href="#") Подробнее
				.work-main-item
					img.work-main-item__img(src="assets/images/work-item.png", alt="")
					.work-main-item__title Матрешка с логотипом
					.work-main-item__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium architecto officiis ipsam obcaecati quaerat eum!
					a.work-main-item__btn(href="#") Подробнее
			.work-show Показать все
				img.work-show__arr(src="assets/images/work-arrow.svg", alt="Arrow")

	.process
		.container
			.process-block
				.process-block__title От заготовки до матрешки
				.process-block__text Уникальность изделий представлена набором характерных элементов ручного исполнения. На каждом этапе создания изделия используются только высококачественные и натуральные материалы.
				.process-block-tabs
					.process-block-tab#firstTab
						.process-block-tab-left
							video.process-block-tab-left__img(src="assets/images/process-item1.mp4" controls )
						.process-block-tab-right
							.process-block-tab-right__title Создание заготовки
							.process-block-tab-right__text На каждом этапе создания изделия используются только высококачественные и натуральные материалы. Основой каждой работы является заготовка ручной работы из массива липы.
					.process-block-tab#secondTab
						.process-block-tab-left
							img.process-block-tab-left__img(src="assets/images/process-item2.jpg")
						.process-block-tab-right
							.process-block-tab-right__title Разукраска
							.process-block-tab-right__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est odit hic dicta et quos minima aliquid pariatur dolore vel! Suscipit?
					.process-block-tab#thirdTab
						.process-block-tab-left
							img.process-block-tab-left__img(src="assets/images/process-item3.jpg")
						.process-block-tab-right
							.process-block-tab-right__title Лакировка
							.process-block-tab-right__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae atque maxime itaque omnis repellendus dolore facere dignissimos, unde praesentium quo inventore laudantium, quos doloribus.
					ul.process-block-navigation
							li
								a.process-block-navigation-item(href="#firstTab")
									img.process-block-navigation-item__img(src="assets/images/process-doll-1.svg", alt="")
									.process-block-navigation-item__text Заготовка
							img.process-block-navigation__arr(src="assets/images/process-arrow.svg", alt="")
							li
								a.process-block-navigation-item(href="#secondTab")
									img.process-block-navigation-item__img(src="assets/images/process-doll-2.svg", alt="")
									.process-block-navigation-item__text Разукраска
							img.process-block-navigation__arr(src="assets/images/process-arrow.svg", alt="")
							li
								a.process-block-navigation-item(href="#thirdTab")
									img.process-block-navigation-item__img(src="assets/images/process-doll-3.svg", alt="")
									.process-block-navigation-item__text Лакировка

	.order
		.container
			.order__title Уникальная роспись матрёшек на заказ
			.order-main
				.order-main-left
					.order-main-left__title Роспись на заказ
					ul.order-main-left-list
						li.order-main-left-list__item Высокое качество росписи
						li.order-main-left-list__item Работа выполняется профессионалами
						li.order-main-left-list__item Короткие сроки выполнения
						li.order-main-left-list__item Ориентированность на клиента
						li.order-main-left-list__item Многолетний опыт работы
					a.order-main-left__btn(href="#") Узнать подробнее
				.order-main-right
					.order-main-right__text Примеры наших работ
					.order-main-right-slider
						.order-main-right-slider-inn
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
					.order-main-right-nav
						.order-main-right-nav-arrow.prev
							img.order-main-right-nav-arrow__img(src="assets/images/order-slider-prev-arrow.svg", alt="")
						.order-main-right-nav__current
						.order-main-right-nav-arrow.next
							img.order-main-right-nav-arrow__img(src="assets/images/order-slider-next-arrow.svg", alt="")
				
	.form
		.container
			.form__title Хотите уникальный заказ?
			form.form-data(action="")
				.form-data-pair
					label.form-data-pair__label(for="e-mail") E-mail:
					input.form-data-pair__input(type="text" name="e-mail" id="e-mail" placeholder="test@info.ru" onfocus="this.placeholder = ''" onblur="this.placeholder = 'test@info.ru'")
				.form-data-pair
					label.form-data-pair__label(for="tel") Телефон:
					input.form-data-pair__input(type="tel" name="tel" id="tel" placeholder="+7 (986) 543-21-00" onfocus="this.placeholder = ''" onblur="this.placeholder = '+7 (986) 543-21-00'")
				a.form-data__btn(href="#") Отправить