extends ../template

block variables
	- var title = 'Главная'

block content
	.banner
		.containerWide
			.banner-block
				.banner-block-left
					.banner-block-left__title Художественная мастерская <span>Малина</span>
					a.banner-block-left__btn(href="#") Узнать больше
					.banner-block-left__text Роспись <span>матрёшек</span>, создание <span>заготовок</span>, роспись <span>посуды</span> и многое другое
				.banner-block-right
					img.banner-block-right__img(src="assets/images/banner.png", alt="")
		.banner-bot
			<svg class="banner-bot__doll" width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M17.127 11.2837L16.9855 11.5787L17.1991 11.8265C19.2918 14.2543 20.5001 17.6876 20.5 21.3333C20.5 25.3284 19.0772 29.0117 16.6342 31.4541C16.6033 31.4849 16.5641 31.5 16.5268 31.5H4.47325C4.43603 31.5 4.39674 31.4849 4.3657 31.454L4.01314 31.8085L4.36659 31.4549C1.92308 29.0126 0.5 25.3288 0.5 21.3333C0.5 17.6876 1.70816 14.2543 3.80096 11.8265L4.01457 11.5787L3.87303 11.2837C3.38235 10.2611 3.12502 9.13446 3.12502 8C3.12502 3.85725 6.44105 0.5 10.5 0.5C14.559 0.5 17.875 3.85725 17.875 8C17.875 9.13445 17.6177 10.2611 17.127 11.2837Z" stroke="#FFFFFF"/>
			</svg>
			<svg class="banner-bot__line" width="1" height="44" viewBox="0 0 1 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.5 0C0.223891 0 0 1.78022 0 3.98022V40.0198C0 42.2198 0.223891 44 0.5 44C0.77611 44 1 42.2198 1 40.0198V3.98022C0.999872 1.78022 0.77611 0 0.5 0Z" fill="#FFFFFF"/>
			</svg>
	
	.about
		.container
			.about-block
				.about-block__title Что такое художественная мастерская Малина?
				.about-block-dolls
					.about-block-dolls-item
						.about-block-dolls-item__doll
							<svg width="211" height="280" viewBox="0 0 211 280" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d)">
									<path d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693Z" fill="url(#paint0_linear)"/>
								</g>
								<path opacity="0.5" d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693ZM140.841 227.979H70.1537C49.6923 215.619 37.0213 193.232 37.0213 169.322C37.0213 147.642 47.4624 127.013 64.9514 114.14C65.7383 113.561 66.2485 112.68 66.3585 111.709C66.4685 110.738 66.1694 109.765 65.5323 109.024C57.332 99.4851 52.8159 87.2962 52.8159 74.7024C52.8163 45.654 76.449 22.0213 105.497 22.0213C134.546 22.0213 158.179 45.654 158.179 74.7024C158.179 87.2957 153.662 99.4847 145.462 109.024C144.825 109.765 144.526 110.738 144.636 111.709C144.746 112.68 145.256 113.561 146.043 114.14C163.532 127.013 173.973 147.642 173.973 169.322C173.974 193.232 161.303 215.619 140.841 227.979Z" fill="#DC143C"/>
								<path opacity="0.5" d="M153.104 110.73C161.148 117.282 167.846 125.504 172.599 134.693C178.092 145.312 180.995 157.287 180.996 169.322C180.996 182.742 177.428 195.923 170.678 207.44C164.129 218.612 154.758 227.976 143.58 234.519C143.042 234.834 142.43 235 141.806 235H69.1896C68.5661 235 67.9538 234.834 67.416 234.519L70.1538 227.979H140.841C161.303 215.619 173.974 193.232 173.973 169.322C173.973 147.642 163.532 127.013 146.043 114.14C145.256 113.561 144.746 112.68 144.636 111.709C144.526 110.738 144.825 109.765 145.462 109.024C153.663 99.4846 158.179 87.2957 158.179 74.7023C158.179 67.9302 156.894 61.4525 154.556 55.4999L158.179 46.6296C162.658 55.0024 165.2 64.5611 165.2 74.7023C165.2 87.7403 160.928 100.396 153.104 110.73Z" fill="#FF1E4B"/>
								<defs>
									<filter id="filter0_d" x="0" y="0" width="210.996" height="280" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
									<feOffset dy="15"/>
									<feGaussianBlur stdDeviation="15"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
								</filter>
									<linearGradient id="paint0_linear" x1="50.5" y1="51" x2="162.5" y2="226.5" gradientUnits="userSpaceOnUse">
										<stop stop-color="white"/>
										<stop offset="1" stop-color="#FFEBEB"/>
									</linearGradient>
								</defs>
							</svg>
						.about-block-dolls-item__num 8
						.about-block-dolls-item__text Лет работы
					.about-block-dolls-item
						.about-block-dolls-item__doll
							<svg width="211" height="280" viewBox="0 0 211 280" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d)">
								<path d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693Z" fill="url(#paint0_linear)"/>
								</g>
								<path opacity="0.5" d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693ZM140.841 227.979H70.1537C49.6923 215.619 37.0213 193.232 37.0213 169.322C37.0213 147.642 47.4624 127.013 64.9514 114.14C65.7383 113.561 66.2485 112.68 66.3585 111.709C66.4685 110.738 66.1694 109.765 65.5323 109.024C57.332 99.4851 52.8159 87.2962 52.8159 74.7024C52.8163 45.654 76.449 22.0213 105.497 22.0213C134.546 22.0213 158.179 45.654 158.179 74.7024C158.179 87.2957 153.662 99.4847 145.462 109.024C144.825 109.765 144.526 110.738 144.636 111.709C144.746 112.68 145.256 113.561 146.043 114.14C163.532 127.013 173.973 147.642 173.973 169.322C173.974 193.232 161.303 215.619 140.841 227.979Z" fill="#FFD700"/>
								<path opacity="0.5" d="M153.104 110.73C161.148 117.282 167.846 125.504 172.599 134.693C178.092 145.312 180.995 157.287 180.996 169.322C180.996 182.742 177.428 195.923 170.678 207.44C164.129 218.612 154.758 227.976 143.58 234.519C143.042 234.834 142.43 235 141.806 235H69.1896C68.5661 235 67.9538 234.834 67.416 234.519L70.1538 227.979H140.841C161.303 215.619 173.974 193.232 173.973 169.322C173.973 147.642 163.532 127.013 146.043 114.14C145.256 113.561 144.746 112.68 144.636 111.709C144.526 110.738 144.825 109.765 145.462 109.024C153.663 99.4846 158.179 87.2957 158.179 74.7023C158.179 67.9302 156.894 61.4525 154.556 55.4999L158.179 46.6296C162.658 55.0024 165.2 64.5611 165.2 74.7023C165.2 87.7403 160.928 100.396 153.104 110.73Z" fill="#EDC800"/>
								<defs>
								<filter id="filter0_d" x="0" y="0" width="210.996" height="280" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
								<feOffset dy="15"/>
								<feGaussianBlur stdDeviation="15"/>
								<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
								<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
								</filter>
								<linearGradient id="paint0_linear" x1="52" y1="67" x2="169.5" y2="215" gradientUnits="userSpaceOnUse">
								<stop stop-color="white"/>
								<stop offset="1" stop-color="#FFF7CF"/>
								</linearGradient>
								</defs>
							</svg>
						.about-block-dolls-item__num 
						.about-block-dolls-item__text Свое производство заготовок
					.about-block-dolls-item
						.about-block-dolls-item__doll
							<svg width="211" height="280" viewBox="0 0 211 280" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d)">
								<path d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693Z" fill="url(#paint0_linear)"/>
								</g>
								<path opacity="0.5" d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693ZM140.841 227.979H70.1537C49.6923 215.619 37.0213 193.232 37.0213 169.322C37.0213 147.642 47.4624 127.013 64.9514 114.14C65.7383 113.561 66.2485 112.68 66.3585 111.709C66.4685 110.738 66.1694 109.765 65.5323 109.024C57.332 99.4851 52.8159 87.2962 52.8159 74.7024C52.8163 45.654 76.449 22.0213 105.497 22.0213C134.546 22.0213 158.179 45.654 158.179 74.7024C158.179 87.2957 153.662 99.4847 145.462 109.024C144.825 109.765 144.526 110.738 144.636 111.709C144.746 112.68 145.256 113.561 146.043 114.14C163.532 127.013 173.973 147.642 173.973 169.322C173.974 193.232 161.303 215.619 140.841 227.979Z" fill="#00288D"/>
								<path opacity="0.5" d="M153.104 110.73C161.148 117.282 167.846 125.504 172.599 134.693C178.092 145.312 180.995 157.287 180.996 169.322C180.996 182.742 177.428 195.923 170.678 207.44C164.129 218.612 154.758 227.976 143.58 234.519C143.042 234.834 142.43 235 141.806 235H69.1896C68.5661 235 67.9538 234.834 67.416 234.519L70.1538 227.979H140.841C161.303 215.619 173.974 193.232 173.973 169.322C173.973 147.642 163.532 127.013 146.043 114.14C145.256 113.561 144.746 112.68 144.636 111.709C144.526 110.738 144.825 109.765 145.462 109.024C153.663 99.4846 158.179 87.2957 158.179 74.7023C158.179 67.9302 156.894 61.4525 154.556 55.4999L158.179 46.6296C162.658 55.0024 165.2 64.5611 165.2 74.7023C165.2 87.7403 160.928 100.396 153.104 110.73Z" fill="#2B59CE"/>
								<defs>
								<filter id="filter0_d" x="0" y="0" width="210.996" height="280" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
								<feOffset dy="15"/>
								<feGaussianBlur stdDeviation="15"/>
								<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
								<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
								</filter>
								<linearGradient id="paint0_linear" x1="52" y1="58.5" x2="166" y2="213" gradientUnits="userSpaceOnUse">
								<stop stop-color="white"/>
								<stop offset="1" stop-color="#ECEFFF"/>
								</linearGradient>
								</defs>
							</svg>
						.about-block-dolls-item__num.mobile-hide 100%
						.about-block-dolls-item__num.mobile-show
						.about-block-dolls-item__text.mobile-hide Ручная работа
						.about-block-dolls-item__text.mobile-show Своя лакировочная  
					.about-block-dolls-item
						.about-block-dolls-item__doll
							<svg width="211" height="280" viewBox="0 0 211 280" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d)">
								<path d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693Z" fill="url(#paint0_linear)"/>
								</g>
								<path opacity="0.5" d="M172.599 134.693C167.846 125.504 161.148 117.282 153.104 110.73C160.928 100.396 165.2 87.7404 165.2 74.7024C165.2 41.7824 138.417 15 105.497 15C72.5775 15 45.7951 41.7824 45.7951 74.7024C45.7951 87.7404 50.0668 100.396 57.8909 110.73C49.8463 117.282 43.148 125.504 38.3956 134.693C32.9031 145.313 30 157.288 30 169.322C30 182.742 33.5682 195.923 40.318 207.44C46.867 218.612 56.2371 227.977 67.4159 234.519C67.9537 234.834 68.566 235 69.1895 235H141.806C142.43 235 143.042 234.834 143.58 234.519C154.758 227.976 164.129 218.612 170.678 207.44C177.428 195.923 180.996 182.742 180.996 169.322C180.995 157.287 178.092 145.313 172.599 134.693ZM140.841 227.979H70.1537C49.6923 215.619 37.0213 193.232 37.0213 169.322C37.0213 147.642 47.4624 127.013 64.9514 114.14C65.7383 113.561 66.2485 112.68 66.3585 111.709C66.4685 110.738 66.1694 109.765 65.5323 109.024C57.332 99.4851 52.8159 87.2962 52.8159 74.7024C52.8163 45.654 76.449 22.0213 105.497 22.0213C134.546 22.0213 158.179 45.654 158.179 74.7024C158.179 87.2957 153.662 99.4847 145.462 109.024C144.825 109.765 144.526 110.738 144.636 111.709C144.746 112.68 145.256 113.561 146.043 114.14C163.532 127.013 173.973 147.642 173.973 169.322C173.974 193.232 161.303 215.619 140.841 227.979Z" fill="#DC143C"/>
								<path opacity="0.5" d="M153.104 110.73C161.148 117.282 167.846 125.504 172.599 134.693C178.092 145.312 180.995 157.287 180.996 169.322C180.996 182.742 177.428 195.923 170.678 207.44C164.129 218.612 154.758 227.976 143.58 234.519C143.042 234.834 142.43 235 141.806 235H69.1896C68.5661 235 67.9538 234.834 67.416 234.519L70.1538 227.979H140.841C161.303 215.619 173.974 193.232 173.973 169.322C173.973 147.642 163.532 127.013 146.043 114.14C145.256 113.561 144.746 112.68 144.636 111.709C144.526 110.738 144.825 109.765 145.462 109.024C153.663 99.4846 158.179 87.2957 158.179 74.7023C158.179 67.9302 156.894 61.4525 154.556 55.4999L158.179 46.6296C162.658 55.0024 165.2 64.5611 165.2 74.7023C165.2 87.7403 160.928 100.396 153.104 110.73Z" fill="#FF1E4B"/>
								<defs>
								<filter id="filter0_d" x="0" y="0" width="210.996" height="280" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
								<feOffset dy="15"/>
								<feGaussianBlur stdDeviation="15"/>
								<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
								<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
								</filter>
								<linearGradient id="paint0_linear" x1="57.5" y1="46.5" x2="164.5" y2="214" gradientUnits="userSpaceOnUse">
								<stop stop-color="white"/>
								<stop offset="1" stop-color="#FFE8E8"/>
								</linearGradient>
								</defs>
							</svg>
						.about-block-dolls-item__num.mobile-hide 
						.about-block-dolls-item__num.mobile-show 100%
						.about-block-dolls-item__text.mobile-hide Своя лакировочная  
						.about-block-dolls-item__text.mobile-show Ручная работа  
				.about-block__btn-wrap   
					a.about-block__btn(href="#") История компании
						<svg width="160" height="16" viewBox="0 0 160 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M159.707 8.70711C160.098 8.31658 160.098 7.68342 159.707 7.29289L153.343 0.928932C152.953 0.538408 152.319 0.538408 151.929 0.928932C151.538 1.31946 151.538 1.95262 151.929 2.34315L157.586 8L151.929 13.6569C151.538 14.0474 151.538 14.6805 151.929 15.0711C152.319 15.4616 152.953 15.4616 153.343 15.0711L159.707 8.70711ZM0 9H159V7H0V9Z" fill="black"/>
						</svg>
		
	.work
		.work-wrap
			.work__title Широкий спектр выполняемых работ
			.work-main
				.work-main__arrow.arrow-prev
					<svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21 1.5L1.5 21L21 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
					</svg>
				.work-main__arrow.arrow-next
					<svg width="23" height="42" viewBox="0 0 23 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 1.5L21 21L1.5 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
					</svg>
				.work-main-inn
					.work-main-item
						img.work-main-item__img(src="assets/images/work-item.png", alt="")
						.work-main-item__title Матрешка с длинным логотипом
						a.work-main-item__btn(href="#") Подробнее
					.work-main-item
						img.work-main-item__img(src="assets/images/work-item.png", alt="")
						.work-main-item__title Матрешка с логотипом
						a.work-main-item__btn(href="#") Подробнее
					.work-main-item
						img.work-main-item__img(src="assets/images/work-item.png", alt="")
						.work-main-item__title Матрешка с очень длинным логотипом
						a.work-main-item__btn(href="#") Подробнее
					.work-main-item
						img.work-main-item__img(src="assets/images/work-item.png", alt="")
						.work-main-item__title Матрешка с логотипом
						a.work-main-item__btn(href="#") Подробнее
					.work-main-item
						img.work-main-item__img(src="assets/images/work-item.png", alt="")
						.work-main-item__title Матрешка с логотипом
						a.work-main-item__btn(href="#") Подробнее

	.shop
		.shop-wrap
			.shop__title Магазин готовой продукции
			.shop-tabs
				ul.shop-tabs-navigation
					li
						a.shop-tabs-navigation-item(href="#shopFirstTab") Заготовки
					li
						a.shop-tabs-navigation-item(href="#shopSecondTab") Готовая продукция
				.shop-tabs-tab#shopFirstTab
					.shop-tabs-tab__arrow.arrow-prev
						<svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21 1.5L1.5 21L21 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
						</svg>
					.shop-tabs-tab__arrow.arrow-next
						<svg width="23" height="42" viewBox="0 0 23 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L21 21L1.5 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
						</svg>
					.shop-tabs-tab-inn
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
				.shop-tabs-tab#shopSecondTab
					.shop-tabs-tab__arrow.arrow-prev
						<svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21 1.5L1.5 21L21 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
						</svg>
					.shop-tabs-tab__arrow.arrow-next
						<svg width="23" height="42" viewBox="0 0 23 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L21 21L1.5 40.5" stroke="#818181" stroke-width="2" stroke-linecap="round"/>
						</svg>
					.shop-tabs-tab-inn
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить
						.shop-tabs-tab-item
							img.shop-tabs-tab-item__img(src="assets/images/work-item.png", alt="")
							.shop-tabs-tab-item__title Матрешка с длинным логотипом
							.shop-tabs-tab-item-bot
								.shop-tabs-tab-item-bot__price 3567 руб
								a.shop-tabs-tab-item-bot__btn(href="#") Купить

	.process
		.container
			.process-block
				.process-block__title От заготовки до матрешки
				ul.process-block-navigation
						li
							a.process-block-navigation-item(href="#firstTab")
								img.process-block-navigation-item__img(src="assets/images/process-doll-1.svg", alt="")
								.process-block-navigation-item__text Заготовка
						img.process-block-navigation__arr(src="assets/images/process-arrow.svg", alt="")
						li
							a.process-block-navigation-item(href="#secondTab")
								img.process-block-navigation-item__img(src="assets/images/process-doll-2.svg", alt="")
								.process-block-navigation-item__text Разукраска
						img.process-block-navigation__arr(src="assets/images/process-arrow.svg", alt="")
						li
							a.process-block-navigation-item(href="#thirdTab")
								img.process-block-navigation-item__img(src="assets/images/process-doll-3.svg", alt="")
								.process-block-navigation-item__text Лакировка
				.process-block__text Уникальность изделий представлена набором характерных элементов ручного исполнения. На каждом этапе создания изделия используются только высококачественные и натуральные материалы.
				.process-block-tabs
					.process-block-tab#firstTab
						.process-block-tab-left
							video.process-block-tab-left__img(src="assets/images/process-item1.mp4" controls )
						.process-block-tab-right
							.process-block-tab-right__title Создание заготовки
							.process-block-tab-right__text На каждом этапе создания изделия используются только высококачественные и натуральные материалы. Основой каждой работы является заготовка ручной работы из массива липы.
					.process-block-tab#secondTab
						.process-block-tab-left
							img.process-block-tab-left__img(src="assets/images/process-item2.jpg")
						.process-block-tab-right
							.process-block-tab-right__title Разукраска
							.process-block-tab-right__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est odit hic dicta et quos minima aliquid pariatur dolore vel! Suscipit?
					.process-block-tab#thirdTab
						.process-block-tab-left
							img.process-block-tab-left__img(src="assets/images/process-item3.jpg")
						.process-block-tab-right
							.process-block-tab-right__title Лакировка
							.process-block-tab-right__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae atque maxime itaque omnis repellendus dolore facere dignissimos, unde praesentium quo inventore laudantium, quos doloribus.

	.order
		.container
			.order__title Уникальная роспись матрёшек на заказ
			.order-main
				.order-main-left
					.order-main-left__title Роспись на заказ
					ul.order-main-left-list
						li.order-main-left-list__item Уникальные виды росписи
						li.order-main-left-list__item Выполним на заказ любую матрешку: 3,5,7,10,15 мест
						li.order-main-left-list__item Работа выполняется профессиональнми художниками высокого уровня
						li.order-main-left-list__item Изготовление в желаемые для вас сроки
					a.order-main-left__btn(href="#") Узнать подробнее
				.order-main-right
					.order-main-right__text Примеры наших работ
					.order-main-right-slider
						.order-main-right-slider-inn
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
							.order-main-right-slider-item
								img.order-main-right-slider-item__img(src="assets/images/order-slider-item.jpg", alt="")
					.order-main-right-nav
						.order-main-right-nav-arrow.prev
							img.order-main-right-nav-arrow__img(src="assets/images/order-slider-prev-arrow.svg", alt="")
						.order-main-right-nav__current
						.order-main-right-nav-arrow.next
							img.order-main-right-nav-arrow__img(src="assets/images/order-slider-next-arrow.svg", alt="")
				
	.form
		.container
			.form__title Хотите уникальный заказ?
			form.form-data(action="")
				.form-data-pair
					label.form-data-pair__label(for="e-mail") E-mail:
					input.form-data-pair__input(type="text" name="e-mail" id="e-mail" placeholder="test@info.ru" onfocus="this.placeholder = ''" onblur="this.placeholder = 'test@info.ru'")
				.form-data-pair
					label.form-data-pair__label(for="tel") Телефон:
					input.form-data-pair__input(type="tel" name="tel" id="tel" placeholder="+7 (986) 543-21-00" onfocus="this.placeholder = ''" onblur="this.placeholder = '+7 (986) 543-21-00'")
				button.form-data__btn(type="submit" data-default="Заказать звонок") Отправить