extends ../template

block variables
	- var title = 'Карта сайта'

block content
	.sait-map
		nav.sait-map-menu
			a.sait-map-menu-item(href="index.html") Главная
			a.sait-map-menu-item(href="portfolio.html") Портфолио
			a.sait-map-menu-item(href="trend.html") Направление
			a.sait-map-menu-item(href="about.html") О мастерской
			a.sait-map-menu-item(href="contacts.html") Контакты
			a.sait-map-menu-item(href="master.html") Мастер Классы