extends ../template

block variables
	- var title = 'Портфолио'

block content
	.portfolio
		.portfolio-wrap
			.portfolio__title Наши работы
			.portfolio-tabs
				ul.portfolio-tabs-navigation
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab1") Сюжетная матрешка
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab2") Матрешка авангард
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab3") Корпоративные матрешки
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab4") Матрешка с видами города
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab5") Матрешка новогодняя
					li
						a.portfolio-tabs-navigation__item(href="#portfolioTab6") Матрешка костюмная
				section.portfolio-tabs__activeTab <span>Сюжетная матрешка</span>
					ul.portfolio-tabs-navigation
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab1") Сюжетная матрешка
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab2") Матрешка авангард
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab3") Корпоративные матрешки
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab4") Матрешка с видами города
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab5") Матрешка новогодняя
						li
							a.portfolio-tabs-navigation__item(href="#portfolioTab6") Матрешка костюмная
				.portfolio-tabs-tab#portfolioTab1
					.portfolio-tabs-tab-items
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Большая подпись под фото
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Очень очень очень очень очень очень большая подпись под фото
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Подпись под фото
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Подпись под фото
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Подпись под фото
						.portfolio-tabs-tab-item
							a(data-fancybox="gallery1" href="assets/images/portfolio-item.jpg")
								img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
								.portfolio-tabs-tab-item__btn Посмотреть
							.portfolio-tabs-tab-item__text Подпись под фото
					.portfolio-tabs-tab-show Показать еще
						img.portfolio-tabs-tab-show__arr(src="assets/images/work-arrow.svg", alt="Arrow")
				.portfolio-tabs-tab#portfolioTab2
					.portfolio-tabs-tab-item
						a(data-fancybox="gallery2" href="assets/images/portfolio-item.jpg")
							img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
							.portfolio-tabs-tab-item__btn Посмотреть
						.portfolio-tabs-tab-item__text Подпись под фото
				.portfolio-tabs-tab#portfolioTab3
					.portfolio-tabs-tab-item
						a(data-fancybox="gallery3" href="assets/images/portfolio-item.jpg")
							img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
							.portfolio-tabs-tab-item__btn Посмотреть
						.portfolio-tabs-tab-item__text Подпись под фото
				.portfolio-tabs-tab#portfolioTab4
					.portfolio-tabs-tab-item
						a(data-fancybox="gallery4" href="assets/images/portfolio-item.jpg")
							img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
							.portfolio-tabs-tab-item__btn Посмотреть
						.portfolio-tabs-tab-item__text Подпись под фото
				.portfolio-tabs-tab#portfolioTab5
					.portfolio-tabs-tab-item
						a(data-fancybox="gallery5" href="assets/images/portfolio-item.jpg")
							img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
							.portfolio-tabs-tab-item__btn Посмотреть
						.portfolio-tabs-tab-item__text Подпись под фото
				.portfolio-tabs-tab#portfolioTab6
					.portfolio-tabs-tab-item
						a(data-fancybox="gallery6" href="assets/images/portfolio-item.jpg")
							img.portfolio-tabs-tab-item__img(src="assets/images/portfolio-item.jpg", alt="")
							.portfolio-tabs-tab-item__btn Посмотреть
						.portfolio-tabs-tab-item__text Подпись под фото
