block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(rel="stylesheet" type="text/css" href="assets/scripts/slick/slick.css")
		link(rel="stylesheet" type="text/css" href="assets/scripts/slick/slick-theme.css")
		link(rel="stylesheet" type="text/css" href="assets/styles/jquery.fancybox.min.css")
		link(rel="stylesheet", href="assets/styles/app.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(type="text/javascript" src="assets/scripts/slick/slick.min.js")
		script(type="text/javascript" src="assets/scripts/jquery.inputmask.bundle.js")
		script(type="text/javascript" src="assets/scripts/jquery.fancybox.min.js")
		script(type="text/javascript" src="assets/scripts/datePiker.js")
		script(src="assets/scripts/main.js")
		
	body
		.wrapper
			include common/header.pug
			block content
			include common/footer.pug 
		include common/popup.pug 
