.banner{
	height: calc(100vh - 15px);
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #DC143C;
	margin: 15px 15px 0;
	padding-top: 195px;
	font-family: 'Museo Sans Cyrl';
	display: flex;
  flex-direction: column;
	justify-content: space-between;
	color: #fff;
	&-wrap{
		max-width: 1210px;
		width: 95%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		display: flex;
	}
	&-block{
		display: flex;
		align-items: center;
		&-left{
			&__title{
				font-size: 48px;
				margin-bottom: 20px;
				& span{
					font-weight: bold;
				}
			}
			&__btn{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
    		height: 55px;
    		font-size: 18px;
				border: 2px solid #fff;
				border-radius: 30px;
				@media screen and (min-width:1366px){
					&:hover{
						transform: translateY(-3px);
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
					&:active{
						transform: translateY(3px);
						box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
					}
				}
			}
			&__text{
				font-size: 14px;
				margin-top: 25px;
				font-family: 'Museo Sans Cyrl Lightest';
				& span{
					display: inline-block;
					border-bottom: 1px solid #fff;
					line-height: 13px;
				}
			}
		}
		&-right{
			&__img{
				margin-right: -100px;
			}
		}
	}
	&-bot{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 90px;
		justify-content: space-between;
		padding-bottom: 5px;
		&__doll{
			animation: move 2s infinite ease-in-out;
		}
	}
}

.about{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/about-ornament.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 70%;
	&-block{
		display: flex;
    flex-direction: column;
    align-items: center;
		&__title{
			font-size: 48px;
			font-weight: bold;
			max-width: 670px;
			text-align: center;
			margin-top: 90px;
		}
		&-dolls{
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-top: 55px;
			margin-bottom: 20px;
			&-item{
				position: relative;
				.mobile-show{
					display: none;
				}
				&__num{
					position: absolute;
					top: 57px;
					left: 50%;
					transform: translateX(-50%);
					font-size: 24px;
					font-family: 'Museo Sans Cyrl Bold';
				}
				&__text{
					font-size: 18px;
					position: absolute;
					bottom: 115px;
					width: 120px;
					text-align: center;
					left: 50%;
					transform: translateX(-50%);
					font-family: 'Museo Sans Cyrl Lightest';
				}
				&:nth-child(2) .about-block-dolls-item__text{
					bottom: 97px;
				}
				&:last-child .about-block-dolls-item__text{
					bottom: 105px;
				}
			}
		}
		&__btn{
			&-wrap{
				svg{
					display: none;
				}
			}
			margin-bottom: 45px;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 244px;
			height: 54px;
			font-size: 18px;
			border: 2px solid #7A7A7A;
			border-radius: 30px;
			@media screen and (min-width:1366px){
				&:hover{
					transform: translateY(-3px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active{
					transform: translateY(3px);
					box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
				}
			}
		}
	}
}

.work{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/work-ornament.svg);
	background-repeat: no-repeat;
	background-position: center 90px;
  background-size: contain;
	margin-top: 45px;
	margin-bottom: 10px;
	&-wrap{
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
	}
	&-main{
		&__arrow{
			display: none;
		}
		&-inn{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&-item{
			width: 330px;
			margin: 0 9px 30px;
			&__img{
				width: 100%;
				height: 225px;
			}
			&__title{
				font-size: 24px;
				margin-top: 20px;
				margin-bottom: 25px;
				height: 53px;
				overflow: hidden;
			}
			&__btn{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
				height: 55px;
				font-size: 18px;
				border: 2px solid #DC143C;
				border-radius: 30px;
				background-color: #fff;
				@media screen and (min-width:1366px){
					&:hover{
						transform: translateY(-3px);
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
					&:active{
						transform: translateY(3px);
						box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
}

.shop{
	font-family: 'Museo Sans Cyrl';
	margin-bottom: 50px;
	&-wrap{
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
	}
	&-tabs{
		&-navigation{
			width: 455px;
			margin: 0 auto 30px;
			background: #FFFFFF;
			border: 2px solid #DC143C;
			box-sizing: border-box;
			border-radius: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			li{
				width: 50%;
				text-align: center;
			}
			&-item{
				display: block;
				padding: 14px 0;
				font-size: 18px;
				&.selected{
					background-color: #DC143C;
					color: #fff;
				}
			}
		}
		&-tab{
			&-inn{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
			&__arrow{
				display: none;
			}	
			&-item{
				width: 330px;
				margin: 0 9px 30px;
				&__img{
					box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 330px;
				}
				&__title{
					font-size: 24px;
					margin-top: 20px;
					margin-bottom: 25px;
					height: 53px;
					overflow: hidden;
				}
				&-bot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					&__price{
						font-size: 24px;
						font-family: "Museo Sans Cyrl Bold";
						text-transform: uppercase;
					}
					&__btn{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 210px;
						height: 55px;
						font-size: 18px;
						border: 2px solid #DC143C;
						border-radius: 30px;
						background-color: #fff;
						@media screen and (min-width:1366px){
							&:hover{
								transform: translateY(-3px);
								box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
							}
							&:active{
								transform: translateY(3px);
								box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
							}
						}
					}
				}
			}
		}
	}
}

.process{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/process-ornament.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 90%;
	&-block{
		display: flex;
    flex-direction: column;
    align-items: center;
		&__title{
			font-size: 36px;
			font-weight: bold;
		}
		&__text{
			line-height: 32px;
			font-size: 18px;
			font-family: 'Museo Sans Cyrl Lightest';
			text-align: center;
			margin-top: 20px;
		}
		&-tabs{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-tab{
			display: flex;
			margin-top: 40px;
			&-left{
				&__img{
					margin-right: 40px;
					height: 378px;
					#secondTab & {
						width: 395px;
						height: auto;
					}
					#thirdTab & {
						margin-left: -66px;
					}
				}
			}
			&-right{
				&__title{
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 20px;
				}
				&__text{
					line-height: 49px;
					font-size: 24px;
					font-family: 'Museo Sans Cyrl Lightest';
				}
			}
		}
		&-navigation{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 580px;
			&-item{
				display: flex;
    		flex-direction: column;
				align-items: center;
				font-size: 18px;
				&__text{
					margin-top: 10px;
					color: #C3C3C3;
				}
				&.selected &__text{
					color: #000;
					font-weight: bold;
				}
			}
			&__arr{
				margin-top: -15px;
			}
		}
	}
}

.order{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/order-ornament.svg);
	background-repeat: no-repeat;
	background-position: center 170px;
	background-size: 100% 60%;
	margin-top: 50px;
	margin-bottom: 35px;
	&__title{
		font-size: 36px;
		text-align: center;
		font-weight: bold;
	}
	&-main{
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
		&-left{
			margin-top: 50px;
			&__title{
				font-size: 24px;
				margin-bottom: 40px;
				font-weight: bold;
			}
			&-list{
				list-style-type: disc;
				&__item{
					font-size: 18px;
					font-family: 'Museo Sans Cyrl Lightest';
					margin-bottom: 25px;
					font-weight: bold;
				}
			}
			&__btn{
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 244px;
    		height: 54px;
    		font-size: 18px;
				border: 2px solid #7A7A7A;
				border-radius: 30px;
				@media screen and (min-width:1366px){
					&:hover{
						transform: translateY(-3px);
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
					&:active{
						transform: translateY(3px);
						box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
		&-right{
			&__text{
				font-size: 18px;
				font-family: 'Museo Sans Cyrl Lightest';
				margin-bottom: 30px;
				text-align: center;
			}
			&-slider{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				&-inn{
					max-width: 530px;
				}
				&-item{
					margin: 0 30px;
					height: 405px;
					&__img{
						box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.4);
						width: 100%;
					}
				}
			}
			&-nav{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 30px;
				font-size: 36px;
				margin-top: -25px;
				position: relative;
				z-index: 2;
				&__current{
					font-family: 'Museo Sans Cyrl Lightest';
				}
				&-arrow{
					cursor: pointer;
					&__img{
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.form{
	font-family: 'Museo Sans Cyrl';
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #DC143C;
	padding-top: 40px;
	padding-bottom: 50px;
	color: #fff;
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 50px;
	}
	&-data{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&-pair{
			display: flex;
			flex-direction: column;
			&__label{
				font-size: 14px;
				font-family: 'Museo Sans Cyrl Lightest';
				margin-bottom: 10px;
				padding-left: 30px;
			}
			&__input{
				background: #FFFFFF;
				border: 2px solid #6C6767;
				border-radius: 30px;
				width: 280px;
				padding: 13px;
				margin: 0 15px;
				&::placeholder {
					color: #7C7A7A;
				}
			}
		}
		&__btn{
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 194px;
			height: 48px;
			font-size: 18px;
			border: 2px solid #000000;
			border-radius: 30px;
			margin: 0 15px;
			color: #000;
			@media screen and (min-width:1366px){
				&:hover{
					transform: translateY(-3px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active{
					transform: translateY(3px);
					box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
				}
			}
		}
	}
}

@include w1024{
	.banner{
		padding-top: 50px;
		margin-top: 100px;
		height: auto;
		&-block{
			flex-direction: column;
			&-right{
				margin-top: 20px;
				&__img{
					margin-right: 0;
				}
			}
		}
		&-bot{
			display: none;
		}
	}
	.about{
		background-size: contain;
		background-position: center center;
	}
	.process{
		&-block{
			&-tab{
				&-left{
					#thirdTab &__img{
						margin-left: 0;
					}
				}
			}
		}
	}
}

@include w768{
	.banner{
		&-block{
			&-right{
				&__img{
					width: 100%;
				}
			}
		}
	}
	.about{
		&-block{
			&-dolls{
				flex-wrap: wrap;
				&-item{
					margin: 0 17px;
					.mobile-show{
						display: block;
					}
					.mobile-hide{
						display: none;
					}
					&:nth-child(3) &__text {
						bottom: 105px;
					}
					&:last-child &__text {
						bottom: 115px;
					}
				}
			}
		}
	}
	.shop{
		&-tabs{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.process{
		background: none;
	}
	.order{
		background: none;
		&-main{
			margin-top: 20px;
			flex-direction: column;
			align-items: center;
			&-left{
				margin-top: 0;
				&__title{
					display: none;
				}
				&__btn{
					display: none;
				}
			}
			&-right{
				&__text{
					margin-bottom: 20px;
					margin-top: 10px;
				}
			}
		}
	}
	.form{
		&-data{
			flex-direction: column;
			align-items: center;
			&-pair{
				margin-bottom: 30px;
			}
		}
	}
}

@include w480{
	.banner{
		height: auto;
		&-block{
			&-left{
				&__title{
					font-size: 34px;
				}
				&__btn{
					width: 165px;
					height: 44px;
					font-size: 14px;
				}
				&__text{
					line-height: 22px;
				}
			}
		}
	}
	.work{
		&__title{
			font-size: 24px;
		}
		&-main{
			position: relative;
			&__arrow{
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				&.arrow-prev{
					left: -30px;
				}
				&.arrow-next{
					right: -30px;
				}
			}
			&-inn{
				width: 348px;
			}
			&-item{
				text-align: center;
				&__btn{
					margin: 0 auto;
				}
			}
		}
	}
	.shop{
		&__title{
			font-size: 24px;
		}
		&-tabs{
			&-navigation{
				width: 315px;
				white-space: nowrap;
				&-item{
					font-size: 14px;
				}
			}
			&-tab{
				position: relative;
				&-inn{
					width: 348px;
				}
				&-item{
					margin: 0 25px 30px;
					&__img{
						height: 290px;
					}
					&-bot{
						&__btn{
							width: 172px;
						}
					}
				}
				&__arrow{
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					&.arrow-prev{
						left: -30px;
					}
					&.arrow-next{
						right: -30px;
					}
				}	
			}
		}
	}
	.about{
		&-block{
			&__title{
				font-size: 24px;
				margin-top: 40px;
			}
			&-dolls{
				margin-top: 20px;
				&-item{
					margin: 0;
				}
			}
			&__btn{
				margin-bottom: 15px;
			}
		}
	}
	.process{
		&-block{
			&__title{
				font-size: 24px;
			}
			&-navigation{
				width: auto;
				margin-top: 40px;
				&-item{
					&__text{
						font-size: 14px;
					}
				}
			}
			&-tab{
				margin-top: 20px;
				flex-direction: column;
				align-items: center;
				&-left{
					&__img{
						margin-right: 0;
					}
				}
				&-right{
					text-align: center;
					margin-top: 20px;
					&__text{
						line-height: 40px;
    				font-size: 20px;
					}
				}
			}
		}
	}
	.order{
		margin-top: 30px;
		&__title{
			font-size: 24px;
		}
		&-main{
			&-left{
				padding-left: 20px;
			}
			&-right{
				width: 100%;
				&-slider{
					&-inn{
						max-width: none;
						width: 100%;
					}
					&-item{
						height: auto;
						margin-bottom: 50px;
					}
				}
			}
		}
	}
	.form{
		padding-bottom: 30px;
		&__title{
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}

@include w320{
	.about{
		&-block{
			&-dolls{
				&-item{
					margin: -10px;
					&__doll{
						svg{
							width: 170px;
							height: 230px;
						}
					}
					&__num{
						top: 45px;
					}
					&__text{
						font-size: 14px;
						bottom: 85px;
					}
					&:nth-child(2) &__text {
						bottom: 70px;
					}
					&:nth-child(3) &__text {
						bottom: 75px;
					}
					&:last-child &__text {
						bottom: 85px;
					}
				}
			}
			&__btn{
				border: none;
				width: auto;
				height: auto;
				font-size: 14px;
				margin-bottom: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				&-wrap{
					svg{
						display: block;
						width: 130px;
					}
				}
			}
		}
	}
	.work{
		&-main{
			&-inn{
				width: 250px;
			}
			&-item{
				text-align: center;
				&__img{
					height: 155px;
				}
				&__title{
					font-size: 18px;
					height: 40px;
				}
				&__btn{
					width: 165px;
					height: 43px;
					font-size: 14px;
				}
			}
		}
	}
	.shop{
		&-tabs{
			&-tab{
				&-inn{
					width: 250px;
				}
				&-item{
					&__img{
						height: 190px;
					}
					&__title{
						font-size: 18px;
						height: 40px;
					}
					&-bot{
						&__price{
							font-size: 18px;
						}
						&__btn{
							font-size: 14px;
							width: 112px;
							height: 44px;
						}
					}
				}
			}
		}
	}
	.process{
		&-block{
			&__title{
				text-align: center;
			}
			&-navigation{
				&__arr{
					width: 45px;
				}
			}
			&__text{
				font-size: 14px;
				line-height: 27px;
				margin-top: 10px;
			}
			&-tab{
				&-right{
					&__title{
						font-size: 18px;
						margin-bottom: 10px;
					}
					&__text{
						line-height: 27px;
    				font-size: 14px;
					}
				}
			}
			&-tab#secondTab .process-block-tab-left__img{
				width: 290px;
			}
		}
	}
	.order{
		margin-bottom: 20px;
		&-main{
			&-left{
				&-list{
					&__item{
						font-size: 14px;
					}
				}
			}
			&-right{
				&-nav{
					font-size: 24px;
					&-arrow{
						&__img{
							width: 50px;
						}
					}
				}
			}
		}
	}
	.form{
		&-data{
			&-pair{
				&__input{
					height: 43px;
					font-size: 14px;
				}
			}
			&__btn{
				width: 176px;
				height: 43px;
				font-size: 14px;
			}
		}
	}
}