.banner{
	height: calc(100vh - 15px);
	background-color: #FFD700;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 103% 77%;
	margin: 15px 15px 0;
	padding-top: 195px;
	font-family: 'Museo Sans Cyrl';
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	&-block{
		display: flex;
		align-items: center;
		&-left{
			&__title{
				font-size: 48px;
				margin-bottom: 20px;
				& span{
					font-weight: bold;
				}
			}
			&__btn{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
    		height: 55px;
    		font-size: 18px;
				border: 2px solid #DC143C;
				border-radius: 30px;
				&:hover{
					transform: translateY(-3px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active{
					transform: translateY(3px);
					box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
				}
			}
			&__text{
				font-size: 14px;
				margin-top: 25px;
				font-family: 'Museo Sans Cyrl Lightest';
				& span{
					display: inline-block;
					border-bottom: 1px solid #000;
					line-height: 13px;
				}
			}
		}
		&-right{
			&__img{
				margin-right: -100px;
			}
		}
	}
	&-bot{
		display: flex;
		flex-direction: column;
		text-align: center;
		height: 90px;
		justify-content: space-between;
		padding-bottom: 5px;
		&__doll{
			animation: move 2s infinite ease-in-out;
		}
	}
}

.about{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/about-ornament.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 70%;
	&-block{
		display: flex;
    flex-direction: column;
    align-items: center;
		&__title{
			font-size: 48px;
			font-weight: bold;
			max-width: 670px;
			text-align: center;
			margin-top: 90px;
		}
		&-dolls{
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-top: 55px;
			margin-bottom: 20px;
			&-item{
				position: relative;
				&__num{
					position: absolute;
					top: 57px;
					left: 50%;
					transform: translateX(-50%);
					font-size: 24px;
					font-family: 'Museo Sans Cyrl Bold';
				}
				&__text{
					font-size: 18px;
					position: absolute;
					bottom: 115px;
					width: 120px;
					text-align: center;
					left: 50%;
					transform: translateX(-50%);
					font-family: 'Museo Sans Cyrl Lightest';
				}
				&:nth-child(2) .about-block-dolls-item__text{
					bottom: 97px;
				}
				&:last-child .about-block-dolls-item__text{
					bottom: 105px;
				}
			}
		}
		&__btn{
			margin-bottom: 45px;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 244px;
			height: 54px;
			font-size: 18px;
			border: 2px solid #000;
			border-radius: 30px;
			&:hover{
				transform: translateY(-3px);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
			&:active{
				transform: translateY(3px);
				box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

.work{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/work-ornament.svg);
	background-repeat: no-repeat;
	background-position: center 90px;
  background-size: contain;
	margin-top: 45px;
	margin-bottom: 10px;
	&-wrap{
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
	}
	&-main{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		&-item{
			width: 330px;
			margin: 0 9px 30px;
			&__img{
				box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
				width: 100%;
				height: 225px;
			}
			&__title{
				font-size: 24px;
				margin-top: 20px;
				margin-bottom: 25px;
				height: 53px;
				overflow: hidden;
			}
			&__btn{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
				height: 55px;
				font-size: 18px;
				border: 2px solid #DC143C;
				border-radius: 30px;
				background-color: #fff;
				&:hover{
					transform: translateY(-3px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active{
					transform: translateY(3px);
					box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
				}
			}
		}
	}
}

.shop{
	font-family: 'Museo Sans Cyrl';
	margin-bottom: 50px;
	&-wrap{
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
	}
	&-tabs{
		&-navigation{
			width: 455px;
			margin: 0 auto 30px;
			background: #FFFFFF;
			border: 2px solid #DC143C;
			box-sizing: border-box;
			border-radius: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			li{
				width: 50%;
				text-align: center;
			}
			&-item{
				display: block;
				padding: 14px 0;
				font-size: 18px;
				&.selected{
					background-color: #DC143C;
					color: #fff;
				}
			}
		}
		&-tab{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&-item{
				width: 330px;
				margin: 0 9px 30px;
				&__img{
					box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 330px;
				}
				&__title{
					font-size: 24px;
					margin-top: 20px;
					margin-bottom: 25px;
					height: 53px;
					overflow: hidden;
				}
				&-bot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					&__price{
						font-size: 24px;
						font-family: "Museo Sans Cyrl Bold";
						text-transform: uppercase;
					}
					&__btn{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 210px;
						height: 55px;
						font-size: 18px;
						border: 2px solid #DC143C;
						border-radius: 30px;
						background-color: #fff;
						&:hover{
							transform: translateY(-3px);
							box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
						&:active{
							transform: translateY(3px);
							box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
		}
	}
}

.process{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/process-ornament.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	&-block{
		display: flex;
    flex-direction: column;
    align-items: center;
		&__title{
			font-size: 36px;
			font-weight: bold;
		}
		&__text{
			line-height: 32px;
			font-size: 18px;
			font-family: 'Museo Sans Cyrl Lightest';
			text-align: center;
			margin-top: 20px;
		}
		&-tabs{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-tab{
			&#secondTab{
				margin-bottom: 156px;
			}
			display: flex;
			margin-top: 40px;
			&-left{
				&__img{
					margin-right: 40px;
					height: 378px;
					#secondTab & {
						width: 395px;
						height: auto;
					}
					#thirdTab & {
						margin-left: -66px;
					}
				}
			}
			&-right{
				&__title{
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 20px;
				}
				&__text{
					line-height: 49px;
					font-size: 24px;
					font-family: 'Museo Sans Cyrl Lightest';
				}
			}
		}
		&-navigation{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 580px;
			&-item{
				display: flex;
    		flex-direction: column;
				align-items: center;
				font-size: 18px;
				&__text{
					margin-top: 10px;
					color: #C3C3C3;
				}
				&.selected &__text{
					color: #000;
					font-weight: bold;
				}
			}
			&__arr{
				margin-top: -15px;
			}
		}
	}
}

.order{
	font-family: 'Museo Sans Cyrl';
	background-image: url(../images/order-ornament.svg);
	background-repeat: no-repeat;
	background-position: center 170px;
	background-size: contain;
	margin-top: 50px;
	margin-bottom: 35px;
	&__title{
		font-size: 36px;
		text-align: center;
		font-weight: bold;
	}
	&-main{
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
		&-left{
			margin-top: 50px;
			&__title{
				font-size: 24px;
				margin-bottom: 40px;
				font-weight: bold;
			}
			&-list{
				list-style-type: disc;
				&__item{
					font-size: 18px;
					font-family: 'Museo Sans Cyrl Lightest';
					margin-bottom: 25px;
				}
			}
			&__btn{
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
    		height: 55px;
    		font-size: 18px;
				border: 2px solid #DC143C;
				border-radius: 30px;
				&:hover{
					transform: translateY(-3px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active{
					transform: translateY(3px);
					box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
				}
			}
		}
		&-right{
			&__text{
				font-size: 18px;
				font-family: 'Museo Sans Cyrl Lightest';
				margin-bottom: 30px;
				text-align: center;
			}
			&-slider{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				&-inn{
					width: 530px;
				}
				&-item{
					margin: 0 30px;
					height: 405px;
					&__img{
						box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.4);
						width: 100%;
					}
				}
			}
			&-nav{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 30px;
				font-size: 36px;
				margin-top: -25px;
				position: relative;
				z-index: 2;
				&__current{
					font-family: 'Museo Sans Cyrl Lightest';
				}
				&-arrow{
					cursor: pointer;
					&__img{
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.form{
	font-family: 'Museo Sans Cyrl';
	background-color: #FFE9BE;
	padding-top: 40px;
	padding-bottom: 50px;
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 50px;
	}
	&-data{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		&-pair{
			display: flex;
			flex-direction: column;
			&__label{
				font-size: 14px;
				font-family: 'Museo Sans Cyrl Lightest';
				margin-bottom: 10px;
				padding-left: 20px;
			}
			&__input{
				background: #FFFFFF;
				border: 2px solid #6C6767;
				border-radius: 30px;
				width: 280px;
				padding: 13px;
				&::placeholder {
					color: #7C7A7A;
				}
			}
		}
		&__btn{
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 210px;
			height: 48px;
			font-size: 18px;
			border: 2px solid #DC143C;
			border-radius: 30px;
			&:hover{
				transform: translateY(-3px);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
			&:active{
				transform: translateY(3px);
				box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
			}
		}
	}
}