.portfolio{
	padding-top: 200px;
	margin-bottom: 40px;
	font-family: 'Museo Sans Cyrl';
	&-wrap{
		max-width: 1400px;
		width: 97%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
	}
	&-tabs{
		display: flex;
		flex-direction: column;
		&__activeTab{
			background: #FFFFFF;
			border: 2px solid #7A7A7A;
			box-sizing: border-box;
			border-radius: 30px;
			padding: 12px 55px;
			cursor: pointer;
			position: relative;
			font-size: 14px;
			align-self: center;
			display: none;
			margin: 30px 0;
			&:after{
				content: '';
				position: absolute;
				right: 30px;
				top: 50%;
				transform: translateY(-50%);
				width: 12px;
				height: 7px;
				background: url('../images/tabsSelectDown.svg') center no-repeat;
				background-size: contain;
			}
			&.active:after{
				background: url('../images/tabsSelectUp.svg') center no-repeat;
				background-size: contain;
			}
		}
		&-navigation{
			font-size: 18px;
			font-family: 'Museo Sans Cyrl Lightest';
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 40px;
			z-index: 2;
			&__item.selected{
				font-family: 'Museo Sans Cyrl';
				font-weight: bold;
			}
		}
		&-tab{
			display: flex;
			flex-direction: column;
			align-items: center;
			&-items{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
			&-item{
				width: 325px;
				margin: 0 10px 40px;
				&__img{
					width: 100%;
				}
				a{
					position: relative;
				}
				&__btn{
					display: none;
					justify-content: center;
					align-items: center;
					position: absolute;
					opacity: 0.75;
					background: #FFFFFF;
					border: 2px solid #FFFFFF;
					border-radius: 30px;
					color: #DC143C;
					font-size: 14px;
					width: 160px;
					height: 43px;
					bottom: 20px;
					left: 50%;
					transform: translateX(-50%);
				}
				&__text{
					font-size: 14px;
					font-family: 'Museo Sans Cyrl Lightest';
					text-align: center;
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
			&-show{
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 25px;
				cursor: pointer;
				margin-bottom: 20px;
				&__arr{
					margin-top: 5px;
					width: 100%;
				}
				&.active{
					width: 95px;
					& img{
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

@include w1024{
	.portfolio{
		padding-top: 170px;
		&-tabs{
			position: relative;
			&__activeTab{
				display: block;
				&.active{
					border-radius: 22px 22px 0 0;
				}
			}
			&-navigation{
				display: none;
				flex-direction: column;
				align-self: center;
				margin: 0;
				position: absolute;
				top: 40px;
				left: -2px;
				padding: 10px 20px;
				background: #FFFFFF;
				border: 2px solid #7A7A7A;
				border-radius: 0 0 30px 30px;
				font-size: 14px;
				text-align: center;
				width: calc(100% + 4px);
				li{
					margin: 10px 0;
				}
			}
			&-tab{
				&-item{
					&__btn{
						display: flex;
					}
				}
			}
		}
	}
}

@include w480{
	.portfolio{
		&__title{
			font-size: 24px;
		}
		&-tabs{
			&__activeTab{
				padding: 12px 40px;
				&:after{
					right: 20px;
				}
			}
			&-tab{
				&-show{
					font-size: 18px;
					width: 120px;
				}
			}
		}
	}
}

@include w320{
	.portfolio{
		&-tabs{
			&-tab{
				&-item{
					width: 290px;
					margin: 0 0 20px;
				}
			}
		}
	}
}