.trend{
	font-family: "Museo Sans Cyrl";
	&-banner{
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #DC143C;
		padding-top: 230px;
		color: #fff;
		margin-bottom: 140px;
		height: 600px;
		&-wrap{
			max-width: 1180px;
			width: 95%;
			margin: 0 auto;
			position: relative;
		}
		&-block{
			display: flex;
		}
		&-left{
			&-slider{
				padding: 20px;
				background: #fff;
				width: 610px;
				box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
				&-inn{
					&.slick-dotted.slick-slider{
						margin-bottom: 0;
						.slick-dots{
							bottom: 10px;
							li button:before{
								content: '';
								opacity: 1;
								background: rgba(255, 255, 255, 0.5);
								width: 25px;
								height: 8px;
							}
							li.slick-active button:before {
								opacity: 1;
								background: #FFFFFF;
							}
						}
					}
				}
			}
		}
		&-right{
			margin-left: 20px;
			margin-top: 10px;
			&__title{
				font-family: "Museo Sans Cyrl Bold";
				font-size: 36px;
				margin-bottom: 40px;
			}
			&__text{
				line-height: 27px;
				font-size: 16px;
				margin-bottom: 40px;
			}
			&__btn{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 210px;
				height: 55px;
				font-size: 18px;
				border: 2px solid #fff;
				border-radius: 30px;
				@media screen and (min-width:1366px){
					&:hover{
						transform: translateY(-3px);
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
					&:active{
						transform: translateY(3px);
						box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
	&-info{
		&-block{
			display: flex;
			justify-content: space-around;
			margin-bottom: 40px;
		}
		&-item{
			width: 240px;
			position: relative;
			z-index: 2;
			
			&-main{
				position: relative;
				z-index: 2;
				background-color: #fff;
				height: 240px;
				padding-left: 10px;
			}
			&__title{
				font-size: 18px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			&__text{
				font-family: "Museo Sans Cyrl Light";
				line-height: 24px;
				font-size: 16px;
			}
			svg{
				position: absolute;
				top: 34px;
    		left: -70px;
				z-index: 1;
				transition: 1s;
			}
			@media screen and (min-width:1366px){
				&:hover svg{
					left: -150px;
				}
			}
		}
	}
}

@include w1024{
	.trend{
		&-banner{
			padding-top: 165px;
			height: auto;
			margin-bottom: 30px;
			padding-bottom: 30px;
			&-block{
				flex-direction: column;
				align-items: center;
			}
			&-left{
				margin-bottom: 25px;
				margin-top: 60px;
			}
			&-right{
				margin: 0;
				&__title{
					position: absolute;
					top: 0;
					width: 100%;
					text-align: center;
				}
				&__btn{
					margin: 0 auto;
				}
			}
		}
	}
}

@include w768{
	.trend{
		&-info{
			&-block{
				flex-direction: column;
				align-items: center;
				margin-bottom: 30px;
			}
			&-item{
				width: 282px;
			}
		}
	}
}

@include w480{
	.trend{
		&-banner{
			&-left{
				margin-top: 45px;
				width: 100%;
				&-slider{
					width: 100%;
					&-item{
						img{
							width: 100%;
						}
					}
				}
			}
			&-right{
				&__title{
					font-size: 24px;
				}
			}
		}
	}
}

@media screen and (max-width: 360px){
	.trend{
		&-info{
			&-item{
				width: auto;
				margin-bottom: 20px;
				&-main{
					padding: 0;
					height: auto;
				}
				svg{
					display: none;
				}
			}
		}
	}
}