.footer{
	font-family: 'Museo Sans Cyrl';
	border-top: 1px solid #B1B1B1;
	padding-top: 30px;
	&-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		&-menu{
			font-size: 18px;
			width: 100%;
			margin-top: 40px;
			display: flex;
			justify-content: space-between;
		}
		&-contacts{
			margin-top: 70px;
			display: flex;
			justify-content: space-around;
			width: 100%;
			&-pair{
				&__label{
					font-size: 14px;
					font-family: 'Museo Sans Cyrl Lightest';
					text-align: center;
					margin-bottom: 20px;
				}
				&__info{
					font-size: 24px;
					text-align: center;
				}
				&-socials{
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
}
.footerInfo{
	font-family: 'Museo Sans Cyrl';
	margin-top: 30px;
	border-top: 1px solid #B1B1B1;
	padding: 15px 0;
	&-block{
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		&__text{
			font-family: 'Museo Sans Cyrl Lightest';
			& a{
				font-family: 'Museo Sans Cyrl';
				font-weight: bold;
			}
		}
	}
}

@include w480{
	.footer{
		&-block{
			&__logo{
				order: -1;
			}
			&-menu{
				margin-top: 0;
				flex-direction: column;
				align-items: center;
				&__item{
					margin-bottom: 15px;
				}
				&__item:nth-child(1){
					order: 2;
				}
				&__item:nth-child(2),
				&__item:nth-child(4){
					order: 1;
				}
			}
			&-contacts{
				order: -1;
				flex-direction: column;
				align-items: center;
				margin-top: 25px;
				&-pair{
					margin-bottom: 25px;
					&__label{
						margin-bottom: 10px;
					}
				}
				&-pair:last-child{
					order: -1;
				}
				&-pair:nth-child(2){
					position: absolute;
					bottom: -100px;
				}
			}
		}
	}
	.footerInfo{
		padding: 20px 0;
		margin-top: 90px;
		&-block{
			flex-direction: column;
			align-items: center;
			&__text{
				margin-bottom: 15px;
			}
			&__text:first-child{
				margin-bottom: 0;
				order: 1;
			}
		}
	}
}
@include w320{
	.footer{
		&-block{
			&-menu{
				&__item{
					font-size: 14px;
				}
			}
		}
	}
}